/* SignIn */
body{
    background-color: #f0eeee;
    height: 100vh;
}
.primary_button {
    text-transform: none !important;
    background-color: rgb(12, 12, 101) !important;
    color: #ffffff !important;
}

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 340px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 6px 20px 0px #d2d2d2;
}
.header_title{
    font-size: 32px;
    font-weight: 600;
}

.signUp{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
.forgot_password {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    
}
.forgot{
    cursor: pointer;
    color: var(--primary_color);
}
.MuiTextField-root{
    width: 100% !important;
}

.account{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}